@charset "UTF-8";
/*...............ТЕГИ...........*/
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

header {
  background: url("../img/pic.png") no-repeat center top/cover;
  padding-bottom: 200px;
}

div {
  white-space: nowrap;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

footer {
  margin-top: auto;
}

img {
  width: 100%;
}

/*...............................КОНТЕЙНЕР.................*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*............................................ПЕРВАЯ СЕКЦИЯ...................*/
.first-section {
  padding-bottom: auto;
  color: #FAFAFA;
}
.first-section__logo {
  width: 117px;
  padding-top: 20px;
}
.first-section__logo img {
  width: 100%;
}
.first-section__order {
  margin-left: 957px;
  margin-top: -38px;
  width: 78px;
  height: 24px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FAFAFA;
}
.first-section__upper-text {
  width: 356px;
  height: 58px;
  left: 160px;
  margin-top: 213px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.first-section__vector {
  margin-left: 575px;
  margin-top: -15px;
}
.first-section__upper-text-eho {
  width: 531px;
  height: 109px;
  left: 553px;
  top: 369px;
  margin-left: 75px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 91px;
  line-height: 109px;
  /* Белый */
  color: #FAFAFA;
}

/*...........................НАВИГАЦИОННОЕ МЕНЮ.................*/
.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 320px;
  margin-top: -50px;
}
.nav-menu__list-item {
  width: 78px;
  height: 24px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #FAFAFA;
  margin-right: 100px;
}

.imageundertext {
  position: absolute;
  width: 328px;
  margin-top: -320px;
  margin-left: -80px;
}
.imageundertext img {
  width: 100%;
}

.span1 {
  border-top: 1px solid black;
  width: 61px;
  height: 2px;
  margin-top: 70px;
  /* Белый * */
  background: #FAFAFA;
}

.text-section {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
  width: 424px;
  height: 164px;
  margin-left: 80px;
  margin-top: -20px;
  color: #FAFAFA;
}

/*....................................КНОПКА................*/
.buttonprice {
  width: 15em;
  padding: 1em;
  position: relative;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  color: #FAFAFA;
  background-color: transparent;
  border: 1px solid #eafa0f;
  border-radius: 30px 0px;
  border-top: 3px solid #eafa0f;
  border-left: 3px solid #eafa0f;
  border-style: solid;
  margin-left: 70px;
  margin-top: 100px;
  color: rgb(255, 254, 254);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.buttonprice:focus {
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgb(255, 248, 248);
  border: 1px solid #eafa0f;
}
.buttonprice:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.buttonprice:active {
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgb(255, 255, 255);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.buttonprice__text {
  text-align: center;
  margin-right: 70px;
  padding-left: 60px;
}

/*...........................ВТОРАЯ СЕКЦИЯ САЙТА..................*/
.second-section {
  min-height: 700px;
  padding-bottom: 81px;
  color: black;
  font-family: "Bitter";
}
.second-section__title {
  margin-top: 104px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  /* or 70px *     */
  /* Черный */    
}
.second-section__text {
  padding-top: 58px;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
}
.second-section__image {
  width: 606px;
  height: 691px;
  padding-left: 550px;
  margin-top: -706px;
  border-radius: 30px 0px;
}
.second-section__image img {
  width: 100%;
}

.span1 {
  border-top: 1px solid black;
  width: 61px;
  height: 2px;
  margin-top: 70px;
  /* Белый * */
  background: #FAFAFA;
}

.third-section {
  min-height: 2065px;
  overflow: hidden;
}
.third-section__vector {
  border-top: 1px solid black;
  width: 61px;
  height: 2px;
  margin-top: 70px;
  background: #0F0F0F;
}
.third-section__title {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
}
.title {
  margin-top: -20px;
  padding-left: 100px;
}
.title__vector {
  left: 400px;
}

.blackblock__first {
  width: 382px;
  height: 104px;
  margin-top: 70px;
  margin-left: -350px;
  background: #0F0F0F;
}
.blackblock__second {
  width: 382px;
  height: 104px;
  margin-left: 1180px;
  margin-top: -90px;
  background: #0F0F0F;
}

.third-section__image {
  margin-bottom: 100px;
  width: 367px;
  height: 360px;
  margin-left: 110px;
  -o-object-position: right;
     object-position: right;
  -o-object-fit: cover;
     object-fit: cover;
}
.third-section__image img {
  width: 100%;
}
.third-section__vector5 {
  height: 5px;
  right: 3px;
  margin-left: 600px;
  margin-top: -300px;
  border-bottom: 4px solid black;
  width: 600px;
}
.third-section__text {
  width: 539px;
  height: 123px;
  margin-left: 600px;
  margin-top: 20px;
  font-family: "Bitter";
  font-style: normal;
  font-size: 24px;
  line-height: 170%;
}

.fourth-section__vector {
  border-bottom: 4px solid black;
  width: 600px;
  height: 5px;
  right: 3px;
  margin-left: 100px;
  margin-top: -1580px;
}
.fourth-section__text {
  margin-top: 20px;
  width: 539px;
  height: 123px;
  margin-left: 100px;
  font-family: "Bitter";
  font-style: normal;
  font-size: 24px;
  line-height: 170%;
}
.fourth-section__image {
  width: 367px;
  height: 360px;
  margin-left: 800px;
  margin-top: -230px;
}

.five-section__vector {
  border-bottom: 4px solid black;
  width: 600px;
  height: 5px;
  right: 3px;
  margin-left: 600px;
  margin-top: 161px;
}
.five-section__text {
  width: 539px;
  height: 123px;
  font-size: 24px;
  line-height: 170%;
  margin-top: 27px;
  margin-left: 600px;
  font-family: "Bitter";
  font-style: normal;
}
.five-section__image {
  width: 367px;
  height: 360px;
  margin-left: 93px;
  margin-top: -260px;
}

.six-section__vector {
  border-bottom: 4px solid black;
  width: 570px;
  height: 5px;
  right: 3px;
  margin-top: 161px;
  margin-left: 90px;
}
.six-section__text {
  width: 539px;
  height: 123px;
  font-family: "Bitter";
  font-style: normal;
  font-size: 24px;
  line-height: 170%;
  margin-left: 88px;
  margin-top: 20px;
}
.six-section__image {
  width: 367px;
  height: 360px;
  border-radius: 30px 0px;
  margin-left: 800px;
  margin-top: -300px;
}

.seven-section__vector {
  border-bottom: 4px solid black;
  width: 590px;
  height: 5px;
  right: 3px;
  margin-top: 161px;
  margin-left: 600px;
}
.seven-section__text {
  width: 539px;
  height: 123px;
  margin-left: 600px;
  margin-top: 20px;
  font-family: "Bitter";
  font-style: normal;
  font-size: 24px;
  line-height: 170%;
}
.seven-section__image {
  width: 367px;
  height: 360px;
  margin-top: -240px;
  margin-left: 80px;
}

.footer {
  min-height: 1101px;
}
.footer__title {
  background: black no-repeat center top/cover;
  width: 1675px;
  height: 93px;
  margin-left: -316px;
  margin-top: 201px;
}
.footer__input-menu {
  margin-top: 100px;
}

.title__text {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  margin-left: 323px;
  padding-top: 25px;
  /* identical to box height, or 45px */       
  color: #FAFAFA;
}

.title__vector {
  margin-left: 590px;
  margin-top: -25px;
}

.input-menu__image {
  width: 500px;
  height: 611px;
  margin-left: 735px;
}
.input-menu__text {
  width: 574px;
  height: 218px;
  left: 380px;
  margin-top: -600px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  /* or 70px */
}
.input-menu__text-under {
  width: 560px;
  height: 123px;
  left: 380px;
  top: 4615px;
  margin-top: 25px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
}
.input-menu__form {
  width: 266px;
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 88%;
  border: 1px solid #474545;
  border-radius: 30px 0px;
}
.input-menu__form:focus {
  outline: 1px solid rgb(159, 255, 135);
  border: 0px;
}
.input-menu__form-second {
  width: 266px;
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 88%;
  border: 1px solid #474545;
  border-radius: 30px 0px;
}
.input-menu__form-second:focus {
  outline: 1px solid rgb(159, 255, 135);
  border: 0px;
}

input[type=text] {
  margin-top: 20px;
  font-size: 20px;
  padding-left: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 88%;
  /* identical to box height, or 18px */
  /* Черный */
  color: #444444;
}
input[type=text]:focus {
  color: 1px solid rgb(159, 255, 135);
  border: 0px;
}

.inputbutton {
  margin-top: 30px;
  width: 300px;
  height: 58px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 88%;
  border: 1px solid #000000;
  border-radius: 30px 0px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background-color: #9f9c9c;
}
.inputbutton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgb(14, 7, 7);
  border: 1px solid #0b0b05;
}
.inputbutton:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.inputbutton:active {
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgb(15, 14, 14);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.divttt {
  background: #F2F2F2 no-repeat center top/cover;
  height: 542px;
  width: 1550px;
  height: 100%;
}

/*........................ПОДВАЛ........................*/
.render-menu {
  width: 1685.3px;
  height: 100px;
  margin-left: -326px;
}
.render-menu__list {
  margin-left: 290px;
  margin-bottom: 46px;
  padding-top: 1px;
}
.render-menu__list-item {
  width: 57px;
  height: 43px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-top: 40px;
  color: #0F0F0F;
}
.render-menu__list-item:last-child {
  margin-right: 0px;
}

.closure__number {
  margin-left: 300px;
  margin-top: -130px;
  margin-bottom: 500px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  /* Черный */
}
.closure__email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 23px;
  margin-left: 300px;
  margin-top: -482px;
  color: black;
}
.closure__icon1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 300px;
  margin-top: 30px;
  /* Черный */
}
.closure__icon2 {
  margin-left: 10px;
}
.closure__icon3 {
  margin-left: 10px;
}
.closure__image {
  width: 1040.46px;
  height: 250px;
  margin-left: 317px;
  margin-top: -190px;
}

.imagemountains {
  width: 1040.46px;
  margin-top: -80px;
  margin-left: 450px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*................АДАПТИВ...........*/
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .first-section__upper-text-eho {
    margin-left: 120px;
  }
  .nav-menu__list {
    padding-left: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .second-section__image {
    width: 516px;
    padding-left: 459px;
    margin-top: -610px;
  }
  .second-section__title {
    margin-top: 109px;
    font-size: 60px;
  }
  .second-section__text {
    font-size: 20px;
  }
  .first-section__order {
    margin-left: 757px;
  }
  .first-section__vector {
    margin-left: 466px;
    margin-top: -15px;
  }
  .title {
    margin-top: -25px;
    padding-left: 100px;
  }
  .third-section__vector {
    margin-top: 25px;
  }
  .third-section__vector5 {
    height: 5px;
    right: 3px;
    margin-left: 489px;
    margin-top: -359px;
    border-bottom: 4px solid black;
    width: 479px;
  }
  .third-section__text {
    width: 523px;
    height: 123px;
    margin-left: 489px;
    margin-top: 10px;
    font-size: 21px;
    line-height: 170%;
  }
  .third-section__image img {
    width: 92%;
  }
  .blackblock__first {
    width: 382px;
    height: 104px;
    margin-top: 70px;
    margin-left: -270px;
    background: #0F0F0F;
  }
  .blackblock__second {
    width: 382px;
    height: 104px;
    margin-left: 835px;
    margin-top: -90px;
    background: #0F0F0F;
  }
  .fourth-section__vector {
    border-bottom: 4px solid black;
    width: 438px;
    height: 5px;
    right: 3px;
    margin-left: 100px;
    margin-top: -1580px;
  }
  .fourth-section__text {
    margin-top: 20px;
    width: 539px;
    height: 123px;
    margin-left: 100px;
    font-family: "Bitter";
    font-style: normal;
    font-size: 21px;
    line-height: 170%;
  }
  .fourth-section__image {
    margin-left: 609px;
    margin-top: -230px;
  }
  .five-section__vector {
    border-bottom: 4px solid black;
    width: 563px;
    height: 5px;
    right: 3px;
    margin-left: 514px;
    margin-top: 161px;
  }
  .five-section__text {
    width: 539px;
    height: 123px;
    font-size: 21px;
    line-height: 170%;
    margin-top: 27px;
    margin-left: 514px;
  }
  .six-section__vector {
    border-bottom: 4px solid black;
    width: 434px;
    height: 5px;
    right: 3px;
    margin-top: 161px;
    margin-left: 90px;
  }
  .six-section__text {
    width: 539px;
    height: 123px;
    font-family: "Bitter";
    font-style: normal;
    font-size: 21px;
    line-height: 170%;
    margin-left: 88px;
    margin-top: 20px;
  }
  .six-section__image {
    width: 367px;
    height: 360px;
    border-radius: 30px 0px;
    margin-left: 607px;
    margin-top: -300px;
  }
  .seven-section__vector {
    border-bottom: 4px solid black;
    width: 417px;
    height: 5px;
    right: 3px;
    margin-top: 161px;
    margin-left: 535px;
  }
  .seven-section__text {
    width: 539px;
    height: 123px;
    margin-left: 531px;
    margin-top: 20px;
    font-size: 21px;
  }
  .title__text {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    margin-left: 340px;
    padding-top: 25px;
    color: #FAFAFA;
  }
  .title__vector {
    margin-left: 463px;
    margin-top: -25px;
  }
  .input-menu__text {
    margin-left: 23px;
    width: 564px;
    height: 218px;
    left: 380px;
    margin-top: -600px;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 100%;
    margin-right: 100px;
  }
  .input-menu__text-under {
    width: 560px;
    height: 123px;
    margin-top: 25px;
    font-size: 21px;
    margin-left: 29px;
  }
  .footer__title {
    background: black no-repeat center top/cover;
    width: 1315px;
    height: 93px;
    margin-left: -321px;
    margin-top: 201px;
  }
  input[type=text] {
    margin-left: 27px;
  }
  .inputbutton {
    margin-top: 30px;
    width: 300px;
    margin-left: 27px;
  }
  .footer {
    min-height: 900px;
  }
  .render-menu__list {
    margin-left: 314px;
    margin-bottom: 46px;
    padding-top: 1px;
  }
  .render-menu__list-item {
    width: 57px;
    height: 43px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 29px;
  }
  .render-menu {
    width: 1300.3px;
    height: 100px;
    margin-left: -326px;
  }
  .closure__image {
    width: 640.46px;
    height: 156px;
    margin-left: 338px;
    margin-top: -96px;
  }
  .closure__number {
    margin-left: 296px;
    margin-top: -110px;
  }
  .closure__email {
    font-size: 20px;
    line-height: 23px;
    margin-left: 298px;
  }
  .input-menu__image {
    width: 435px;
    height: 588px;
    margin-left: 543px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  header {
    background: url("../img/pic.png") no-repeat center top/cover;
    padding-bottom: 200px;
    background-attachment: fixed;
  }
  .first-section__logo {
    width: 93px;
    padding-top: 20px;
  }
  .nav-menu__list-item {
    width: 30px;
    height: 24px;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #FAFAFA;
    margin-right: 100px;
  }
  .nav-menu__list {
    padding-left: 145px;
  }
  .first-section__order {
    margin-left: 538px;
  }
  .first-section__vector {
    margin-left: 356px;
    margin-top: -15px;
  }
  .second-section__image {
    width: 401px;
    padding-left: 344px;
    margin-top: -460px;
  }
  .second-section__title {
    margin-top: 94px;
    font-size: 42px;
  }
  .second-section__text {
    font-size: 16px;
  }
  .blackblock__first {
    width: 382px;
    height: 104px;
    margin-bottom: -104px;
  }
  .blackblock__second {
    width: 382px;
    height: 104px;
    margin-left: 610px;
  }
  .third-section__text {
    width: 514px;
    height: 123px;
    margin-left: 371px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 170%;
  }
  .third-section__vector5 {
    height: 5px;
    right: 3px;
    margin-left: 372px;
    margin-top: -389px;
    border-bottom: 4px solid black;
    width: 372px;
  }
  .third-section__image {
    margin-bottom: 100px;
    width: 367px;
    height: 360px;
    margin-left: 110px;
  }
  .third-section__image img {
    width: 65%;
  }
  .fourth-section__vector {
    border-bottom: 4px solid black;
    width: 379px;
    height: 5px;
    right: 3px;
    margin-left: 100px;
    margin-top: -1661px;
  }
  .fourth-section__text {
    margin-top: 20px;
    width: 539px;
    height: 123px;
    margin-left: 100px;
    font-family: "Bitter";
    font-style: normal;
    font-size: 15px;
  }
  .fourth-section__image {
    margin-left: 506px;
    margin-top: -230px;
  }
  .fourth-section__image img {
    width: 65%;
  }
  .five-section__vector {
    border-bottom: 4px solid black;
    width: 371px;
    height: 5px;
    right: 3px;
    margin-left: 369px;
    margin-top: 71px;
  }
  img {
    width: 65%;
  }
  .five-section__text {
    width: 536px;
    height: 123px;
    font-size: 17px;
    line-height: 170%;
    margin-top: 27px;
    margin-left: 368px;
  }
  .six-section__text {
    width: 539px;
    height: 123px;
    font-family: "Bitter";
    font-style: normal;
    font-size: 17px;
    line-height: 170%;
    margin-left: 91px;
    margin-top: 9px;
  }
  .six-section__image {
    width: 367px;
    height: 360px;
    border-radius: 30px 0px;
    margin-left: 506px;
    margin-top: -257px;
  }
  .six-section__vector {
    border-bottom: 4px solid black;
    width: 383px;
    height: 5px;
    right: 3px;
    margin-top: 100px;
    margin-left: 91px;
  }
  .seven-section__vector {
    border-bottom: 4px solid black;
    width: 346px;
    height: 5px;
    right: 3px;
    margin-top: 72px;
    margin-left: 385px;
  }
  .seven-section__text {
    width: 539px;
    height: 123px;
    margin-left: 382px;
    margin-top: 20px;
    font-size: 17px;
  }
  .footer__title {
    background: black no-repeat center top/cover;
    width: 1315px;
    height: 93px;
    margin-left: -321px;
    margin-top: -50px;
  }
  .title__text {
    font-weight: 700;
    font-size: 41px;
    line-height: 100%;
    margin-left: 354px;
    padding-top: 25px;
    color: #FAFAFA;
  }
  .title__vector {
    margin-left: 418px;
    margin-top: -18px;
    width: 228px;
  }
  .input-menu__image {
    width: 418px;
    height: 588px;
    margin-left: 473px;
  }
  .input-menu__text {
    margin-left: 32px;
    width: 564px;
    height: 218px;
    left: 380px;
    margin-top: -600px;
    ont-weight: 700;
    font-size: 51px;
    margin-right: 68px;
  }
  .input-menu__text-under {
    width: 560px;
    height: 123px;
    margin-top: -25px;
    font-size: 17px;
    margin-left: 34px;
  }
  footer {
    max-height: 242px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-left: 0px;
    margin-right: auto;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: -1;
  }
  .render-menu__list {
    margin-left: 314px;
    margin-bottom: 46px;
    padding-top: 1px;
  }
  .closure__number {
    margin-left: 296px;
    margin-top: -149px;
    color: black;
  }
  .closure__email {
    font-size: 20px;
    line-height: 23px;
    margin-left: 296px;
    color: black;
  }
  .closure__icon1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 300px;
    margin-top: 39px;
  }
  .imagemountains {
    margin-left: 382px;
    margin-top: -30px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background: #000000;
    z-index: 20;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .nav-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .nav-menu__list-item {
    margin-right: 185px;
    margin-bottom: -80px;
  }
  .hamburger {
    position: fixed;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 14px;
    z-index: 30;
  }
  .hamburger span {
    height: 2px;
    width: 100%;
    display: block;
    background: white;
    margin-bottom: 4px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .hamburger span:last-child {
    margin-bottom: 0px;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .nav-menu_active {
    right: 0px;
  }
  .first-section__logo {
    margin-left: 20px;
    width: 84px;
  }
  .first-section__upper-text {
    width: 331px;
    height: 58px;
    left: 160px;
    margin-top: 55px;
    margin-left: 30px;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
  }
  .first-section__upper-text-eho {
    width: 526px;
    height: 109px;
    left: 553px;
    top: 369px;
    margin-left: 75px;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 109px;
    color: #FAFAFA;
  }
  .text-section {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 170%;
    width: 424px;
    height: 164px;
  }
  .buttonprice {
    font-size: 24px;
    margin-left: 12px;
    margin-top: 42px;
  }
  .second-section__title {
    margin-top: 60px;
    font-size: 32px;
    margin-left: 160px;
  }
  .second-section__text {
    font-size: 12px;
    margin-left: 30px;
  }
  .second-section__image {
    width: 214px;
    padding-left: 261px;
    margin-top: -255px;
  }
  .third-section__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    margin-left: -30px;
  }
  .blackblock__second {
    width: 382px;
    height: 104px;
    margin-left: 380px;
  }
  .blackblock__first {
    width: 318px;
    height: 104px;
    margin-bottom: -108px;
  }
  .second-section {
    min-height: 494px;
  }
  header {
    background: url("../img/pic.png") no-repeat center top/cover;
    padding-bottom: 200px;
    background-attachment: fixed;
    background-size: cover;
  }
  .third-section__image {
    margin-bottom: 288px;
    width: 367px;
    height: 360px;
    margin-left: 64px;
  }
  .third-section__text {
    width: 514px;
    height: 123px;
    margin-left: 63px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 170%;
  }
  .third-section__vector5 {
    height: 5px;
    right: 3px;
    margin-left: 64px;
    margin-top: -389px;
    border-bottom: 4px solid black;
    width: 372px;
  }
  .fourth-section__image {
    margin-left: 56px;
    margin-top: -400px;
    margin-bottom: 283px;
  }
  .fourth-section__text {
    margin-top: 17px;
    width: 539px;
    height: 123px;
    margin-left: 56px;
    font-family: "Bitter";
    font-style: normal;
    font-size: 15px;
  }
  .fourth-section__vector {
    border-bottom: 4px solid black;
    width: 344px;
    height: 5px;
    right: 3px;
    margin-left: 57px;
    margin-top: -1697px;
    margin-bottom: 21px;
  }
  .five-section__vector {
    border-bottom: 4px solid black;
    width: 371px;
    height: 5px;
    right: 3px;
    margin-left: 49px;
    margin-top: 71px;
  }
  .five-section__image {
    width: 367px;
    height: 360px;
    margin-left: 52px;
    margin-top: -423px;
  }
  .five-section__text {
    width: 536px;
    height: 123px;
    font-size: 15px;
    line-height: 170%;
    margin-top: 27px;
    margin-left: 50px;
  }
  .six-section__image {
    width: 367px;
    height: 360px;
    border-radius: 30px 0px;
    margin-left: 45px;
    margin-top: -211px;
  }
  .third-section {
    min-height: 2332px;
    overflow: hidden;
  }
  .six-section__vector {
    border-bottom: 4px solid black;
    width: 183px;
    height: 5px;
    right: 3px;
    margin-top: 267px;
    margin-left: 47px;
  }
  .six-section__text {
    width: 539px;
    height: 123px;
    font-family: "Bitter";
    font-style: normal;
    font-size: 17px;
    line-height: 170%;
    margin-left: 45px;
    margin-top: 9px;
  }
  .six-section__image {
    width: 367px;
    height: 360px;
    border-radius: 30px 0px;
    border-radius: 30px 0px;
    margin-left: 45px;
    margin-top: -393px;
  }
  .seven-section__vector {
    border-bottom: 4px solid black;
    width: 300px;
    height: 13px;
    right: 3px;
    margin-top: 292px;
    margin-left: 46px;
  }
  .seven-section__text {
    width: 539px;
    height: 110px;
    margin-left: 42px;
    margin-top: 10px;
    font-size: 17px;
  }
  .seven-section__image {
    width: 367px;
    height: 360px;
    margin-top: -388px;
    margin-left: 42px;
  }
  .title__text {
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    margin-left: 354px;
    padding-top: 33px;
    color: #FAFAFA;
  }
  .title__vector {
    margin-left: 313px;
    margin-top: -18px;
    width: 85px;
  }
  .input-menu__text {
    margin-left: 32px;
    width: 564px;
    height: 218px;
    left: 380px;
    margin-top: -600px;
    ont-weight: 700;
    font-size: 41px;
    margin-right: 68px;
  }
  .closure__email {
    font-size: 20px;
    line-height: 23px;
    margin-left: 161px;
    color: black;
  }
  .closure__number {
    margin-left: 161px;
    margin-top: -149px;
    color: black;
  }
  .closure__icon1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 161px;
    margin-top: 73px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 416px) {
  .first-section__upper-text {
    width: 331px;
    height: 58px;
    left: 160px;
    margin-top: 55px;
    margin-left: 15px;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
  }
  .first-section__upper-text-eho {
    width: 526px;
    height: 109px;
    left: 553px;
    top: 369px;
    margin-left: 58px;
    font-size: 55px;
  }
  header {
    background: url("../img/pic.png") no-repeat center top/cover;
    padding-bottom: 200px;
    background-attachment: initial;
    background-size: unset;
    background-position: 62%;
  }
  .text-section {
    font-weight: 400;
    font-size: 16.5px;
    line-height: 170%;
    width: 424px;
    height: 164px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  .span1 {
    border-top: 1px solid black;
    /* width: 26px; */
    height: 2px;
    margin-top: 70px;
    background: #FAFAFA;
    width: 26px;
  }
  .second-section__title {
    margin-top: 30px;
    font-size: 32px;
    margin-left: 82px;
  }
  .second-section__text {
    font-size: 11px;
    margin-left: 84px;
    margin-top: -50px;
  }
  .second-section__image {
    width: 197px;
    padding-left: 83px;
    margin-top: 9px;
  }
  .third-section__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    margin-left: -23px;
  }
  .third-section__text {
    width: 514px;
    height: 123px;
    margin-left: 58px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 170%;
  }
  .third-section__vector5 {
    height: 5px;
    right: 3px;
    margin-left: 59px;
    margin-top: -389px;
    border-bottom: 4px solid black;
    width: 372px;
  }
  .fourth-section__text {
    margin-top: 17px;
    width: 539px;
    height: 123px;
    margin-left: 56px;
    font-family: "Bitter";
    font-style: normal;
    font-size: 14px;
  }
  .fourth-section__vector {
    border-bottom: 4px solid black;
    width: 289px;
  }
  .five-section__image {
    width: 367px;
    height: 360px;
    margin-left: 52px;
    margin-top: -414px;
  }
  .five-section__text {
    width: 536px;
    height: 123px;
    font-size: 13px;
    line-height: 170%;
    margin-top: 25px;
    margin-left: 50px;
  }
  .six-section__text {
    width: 539px;
    height: 123px;
    font-size: 14px;
    line-height: 170%;
    margin-left: 45px;
  }
  .seven-section__text {
    width: 539px;
    height: 110px;
    margin-left: 42px;
    margin-top: 10px;
    font-size: 14px;
  }
  .seven-section__vector {
    border-bottom: 4px solid black;
    width: 288px;
    height: 13px;
    right: 3px;
    margin-top: 292px;
    margin-left: 44px;
  }
  .title__text {
    font-weight: 700;
    font-size: 23px;
  }
  .title__vector {
    margin-left: 296px;
    margin-top: -20px;
    width: 64px;
  }
  .title__text {
    font-weight: 700;
    font-size: 22px;
  }
  .input-menu__text {
    margin-left: 32px;
    width: 564px;
    height: 218px;
    left: 375px;
    margin-top: -600px;
    ont-weight: 700;
    font-size: 37px;
  }
  .input-menu__text-under {
    width: 554px;
    height: 123px;
    margin-top: -27px;
    font-size: 14px;
    margin-left: 35px;
  }
  .closure__email {
    font-size: 20px;
    line-height: 23px;
    margin-left: 145px;
  }
  .closure__number {
    margin-left: 140px;
  }
  .buttonprice {
    font-size: 24px;
    margin-left: 12px;
    margin-top: 60px;
  }
}/*# sourceMappingURL=styles.css.map */